.box-load{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-load-select{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preLabel{
  position: absolute;
  width: 100%;
  height: 100%;        
  justify-content: center;
  align-items: center;
}



.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.pre span{
  height: 70px;
  width: 70px;
  display: block;
  position: absolute;
  background: #48bcb4;
  border: 1px solid #48bcb4;
  border-radius: 100%;
}
.pre span:nth-child(1){
  transform: translate(-28px,-28px);
  animation: shape_1 2.3s cubic-bezier(0.75,0,0.5,1)infinite;
}
@keyframes shape_1{
  60%{
      transform: scale(0.4);
  }
}
.pre span:nth-child(2){
  transform: translate(28px,-28px);
  animation: shape_2 2.3s cubic-bezier(0.75,0,0.5,1)infinite;
}
@keyframes shape_2{
  40%{
      transform: scale(0.4);
  }
}
.pre span:nth-child(3){
  position: relative;
  border-radius: 0px;
  transform: scale(0.98) rotate(-45deg);
  animation: shape_3 2.3s cubic-bezier(0.75,0,0.5,1)infinite;
}
@keyframes shape_3{
  20%{
      border-radius: 100%;
      transform: scale(0.5) rotate(-45deg);
  }
  100%{
      transform: scale(0.98) rotate(-45deg);
  }
}


.div-load{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #48bcb4;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}